apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - configmap.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml

images:
  - name: the_project
    newName: southamerica-east1-docker.pkg.dev/kubernetos-lerno/exercises/the-project
