apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: exercises
  name: ping-pong
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      containers:
        - name: ping-pong
          image: southamerica-east1-docker.pkg.dev/kubernetos-lerno/exercises/ping-pong:2.7
          imagePullPolicy: IfNotPresent
          env:
            - name: DATABASE_URL
              value: "postgres://postgres:postgres@postgres-svc:5432/pingpong?sslmode=disable"
