apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      volumes:
        - name: shared-pingpong
          persistentVolumeClaim:
            claimName: ping-pong-pvc
      containers:
        - name: ping-pong
          image: ping-pong:1.9
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: shared-pingpong
              mountPath: /app/files
