apiVersion: batch/v1
kind: CronJob
metadata:
  name: todo-cronjob
  namespace: project
spec:
  schedule: "0 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: todo-cronjob
            image: todo-cronjob:1.2
            imagePullPolicy: IfNotPresent
          restartPolicy: OnFailure
